.presale {
  text-align: center;
}

.presale__title {
  margin-bottom: 20px;

  border-bottom: 3px solid $color-primary;
}

.presale__list {
  margin: 0;
  padding: 0;
  list-style: none;

  font-family: $font-body;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}

.presale__list--bold {
  font-weight: 700;
}

.presale__item {
  padding-bottom: 10px;
  margin-bottom: 6px;

  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid $color-primary;

  &:last-child {
    justify-content: flex-end;
    border-bottom: none;
  }
}

.presale__count--underline {
  padding-bottom: 10px;
  margin-bottom: 6px;
  border-bottom: 1px solid $color-primary;
}
