$font-title: "Ristretto Pro", "Arial", sans-serif;
$font-body: "TT Norms", "Arial", sans-serif;

$color-black: #000000;
$color-white: #ffffff;
$color-primary: #075066;
$color-primary-2: #e84f35;
$color-primary-3: #00b5a5;
$color-primary-4: #f4a276;
$bg-color-1: #b0e7e2;
$bg-color-2: #f5c0b7;
$bg-color-3: #8ebbc9;

// Viewports

$tablet-width: 768px;
$desktop-width: 1024px;
$medium-desktop-width: 1280px;
$medium-desktop-width-2: 1440px;
$wide-desktop-width: 1860px;
$mobile-width-only: 767px;
